@import "../../../resetCss/variable";
@import "../../../resetCss/mixin";
@import "../../../resetCss/reset";

.wrapper-list-cart {
  @include pos-ab(326%, null, 0, null);
  z-index: 9999;
  visibility: hidden;
  transform: rotateX(90deg);
  opacity: 0;
  width: 340px;
  padding: 10px 35px;
  transition: all 0.5s ease 0s;
  transform-origin: center top 0;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  background-color: $whiteColor;
  & ul {
    overflow-y: auto;
    max-height: 400px;
    margin-right: -15px;
    padding-top: 20px;
    padding-right: 15px;
    & li {
      @include flex-box(space-between);
      margin-bottom: 20px;
      padding-bottom: 15px;
      border-bottom: 1px solid #ebebeb;
      & .wrapper-list-cart__img {
        flex: 0 0 82px;
        margin-right: 15px;
        & img {
          max-width: 100%;
          object-fit: cover;
        }
      }
      & .wrapper-list-cart__infor {
        & h4 {
          font-size: 1.4rem;
          line-height: 16px;
          margin: 0 20px 0 0;
          & a {
            line-height: 1.2;
            color: $textColor;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $primaryColor;
            }
          }
        }
        & p {
          color: $textColor;
          font-size: 1.4rem;
          margin: 5px 0 8px;
        }
      }
      & .wrapper-list-cart__infor__Characteristics {
        margin-top: 10px;
        & p {
          color: $textColor;
          font-size: 1.4rem;
        }
      }
      & .wrapper-list-cart__btn-delete i {
        cursor: pointer;
        color: $textColor;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $primaryColor;
        }
      }
    }
  }

  &__total-price {
    @include flex-box(space-between, center);
    font-size: 1.4rem;
    margin-top: 17px;
    margin-bottom: 17px;
    & span {
      color: $textColor;
    }
  }
  &__btn {
    margin-top: 23px;
    & a {
      position: relative;
      margin-bottom: 20px;
      text-align: center;
      font-weight: 500;
      display: block;
      cursor: pointer;
      background-color: transparent;
      font-size: 1.4rem;
      line-height: 1;
      padding: 16px 40px 17px;
      color: $textColor;
      border: 1px solid $textColor;
      border-radius: 3px;
      transition: all 0.86s ease-in-out;
      &::before {
        background-color: $primaryColor;
        @include pos-ab(0, null, 0, null);
        content: "";
        width: 0;
        height: 100%;
        transition: all cubic-bezier(0.645, 0.045, 0.355, 1) 0.86s;
        z-index: -1;
      }
      &::after {
        @include pos-ab(0, null, 0, null);
        background-color: rgba(52, 53, 56, 0.3);
        content: "";
        width: 0;
        height: 100%;
        transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
        z-index: -2;
      }
      &:hover {
        border: 1px solid $primaryColor;
        color: $whiteColor;
        &::before {
          left: 0;
          width: 100%;
        }
        &::after {
          left: 0;
          width: 100%;
        }
      }
    }
  }
}

.wrapper-list-cart__active {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0);
}
