* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

button {
  outline: none !important;
}

button:disabled {
  cursor: no-drop !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row {
  width: 100%;
}

.row .wrapp-content {
  width: 100%;
  text-align: center;
}

.row .wrapp-content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.row .wrapp-content__link h4 a {
  font-size: 2.6rem;
  font-weight: 700;
  margin: 0 20px;
  color: #333;
}

.row .wrapp-content__link h4:first-child a {
  position: relative;
  color: #a749ff;
}

.row .wrapp-content__link h4:first-child a::after {
  position: absolute;
  top: 18%;
  left: 129%;
  content: "";
  width: 2px;
  height: 22px;
  background-color: #000;
}

.row .wrapp-content__wrap-form {
  position: relative;
  background: transparent;
  display: inline-block;
  width: 58%;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 80px;
}

.row .wrapp-content__wrap-form__hr {
  width: 100%;
  margin: 48px 0 28px 0;
}

.row .wrapp-content__wrap-form__hr p {
  color: #333;
  font-size: 1.4rem;
  letter-spacing: 0.3px;
}

.row .wrapp-content__wrap-form__forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 86px;
}

.row .wrapp-content__wrap-form__forgot button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.row .wrapp-content__wrap-form__forgot button:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
          transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.row .wrapp-content__wrap-form__forgot button i {
  font-size: 1.8rem;
}

.row .wrapp-content__wrap-form__forgot button:first-child {
  color: #fff;
  background-color: #415b9c;
}

.row .wrapp-content__wrap-form__forgot button:nth-child(2) {
  color: #fff;
  background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
}

.row .wrapp-content__wrap-form__forgot button:nth-child(3) {
  color: #fff;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.row .wrapp-content__wrap-form__forgot button:last-child {
  color: #fff;
  background-color: #5ea9dd;
}

.row .wrapp-content__wrap-form input[type="text"],
.row .wrapp-content__wrap-form input[type="password"] {
  outline: none;
  width: 100%;
  height: 45px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ebebeb;
  color: #333;
  font-size: 1.6rem;
  margin-bottom: 32px;
  padding: 0 15px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.row .wrapp-content__wrap-form input[type="text"]::-webkit-input-placeholder,
.row .wrapp-content__wrap-form input[type="password"]::-webkit-input-placeholder {
  color: transparent;
}

.row .wrapp-content__wrap-form input[type="text"]:-ms-input-placeholder,
.row .wrapp-content__wrap-form input[type="password"]:-ms-input-placeholder {
  color: transparent;
}

.row .wrapp-content__wrap-form input[type="text"]::-ms-input-placeholder,
.row .wrapp-content__wrap-form input[type="password"]::-ms-input-placeholder {
  color: transparent;
}

.row .wrapp-content__wrap-form input[type="text"]::placeholder,
.row .wrapp-content__wrap-form input[type="password"]::placeholder {
  color: transparent;
}

.row .wrapp-content__wrap-form input[type="text"]:required + label,
.row .wrapp-content__wrap-form input[type="password"]:required + label {
  top: -10%;
  font-size: 14px;
  color: #333;
}

.row .wrapp-content__wrap-form input[type="text"]:placeholder-shown + label,
.row .wrapp-content__wrap-form input[type="password"]:placeholder-shown + label {
  position: absolute;
  top: 24%;
  left: 2%;
  font-size: 1.6rem;
  letter-spacing: 0.2px;
}

.row .wrapp-content__wrap-form input[type="text"]:focus,
.row .wrapp-content__wrap-form input[type="password"]:focus {
  -o-border-image: linear-gradient(180deg, #1dbfaf, #1dbfaf 50%, #1dbfaf);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#1dbfaf), color-stop(50%, #1dbfaf), to(#1dbfaf));
     border-image: linear-gradient(180deg, #1dbfaf, #1dbfaf 50%, #1dbfaf);
  border-image-slice: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.row .wrapp-content__wrap-form input[type="text"]:focus + label,
.row .wrapp-content__wrap-form input[type="password"]:focus + label {
  top: -18%;
  color: #11998e;
  font-size: 1.4rem;
  margin-top: 8px;
}

.row .wrapp-content__wrap-form input[type="text"]:hover,
.row .wrapp-content__wrap-form input[type="password"]:hover {
  border-color: #1dbfaf;
}

.row .wrapp-content__wrap-form .errors-notify {
  border-bottom: 1px solid red !important;
}

.row .wrapp-content__wrap-form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row .wrapp-content__wrap-form__text__remember {
  padding: 10px 0 19px 0;
}

.row .wrapp-content__wrap-form__text__remember input[type="checkbox"] {
  position: relative;
  top: 2px;
  height: 16px;
  width: 18px;
  margin: 0;
  cursor: pointer;
}

.row .wrapp-content__wrap-form__text__remember span {
  margin: 0 0 0 10px;
  color: #333;
  font-size: 1.5rem;
  font-weight: 400;
}

.row .wrapp-content__wrap-form__btn {
  margin: 12px 0 0 0;
}

.row .wrapp-content__wrap-form__btn button {
  outline: none;
  cursor: pointer;
  width: 100%;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  background-color: #1dbfaf;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  padding: 12px 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.row .wrapp-content__wrap-form__btn button:hover {
  background-color: #a749ff;
}

.row .wrapp-content__wrap-form .form-group {
  width: 100%;
  position: relative;
}

.row .wrapp-content__wrap-form .form-group label {
  cursor: text;
  position: absolute;
  top: 26%;
  left: 2%;
  color: #333;
  font-size: 1.6rem;
  letter-spacing: 0.2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.row .wrapp-content__wrap-form .form-group__notify-error {
  width: 100%;
}

.row .wrapp-content__wrap-form .form-group__notify-error::after {
  position: absolute;
  top: 26%;
  left: 96%;
  color: #f33a58;
  content: "\f071";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.4rem;
}

.row .wrapp-content__wrap-form .form-group__notify-error p {
  position: absolute;
  top: 68%;
  left: 2%;
  color: #f33a58;
  font-size: 1.2rem;
  line-height: 16px;
}

.row .wrapp-content__wrap-form .form-group__notify-success {
  width: 100%;
}

.row .wrapp-content__wrap-form .form-group__notify-success::after {
  position: absolute;
  top: 26%;
  left: 96%;
  color: #2ed573;
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.4rem;
}
/*# sourceMappingURL=style.css.map */