@import "../../../resetCss/variable";
@import "../../../resetCss/mixin";
@import "../../../resetCss/reset";

%styleLabel {
  font-size: 1.2rem;
  margin: 0 0 7px;
  color: $textColor;
  display: block;
}

%styleInput {
  width: 100%;
  outline: none;
  border-radius: 3px;
  height: 45px;
  font-size: 1.4rem;
  padding-right: 10px;
  padding-left: 20px;
  color: $textColor;
  border: 1px solid #e6e6e6;
  background: transparent;
}

.row {
  width: 100%;
  & .col-checkout__infor {
    width: 50%;
    padding: 0 15px;
    &__wrapper {
      & h3 {
        font-size: 2rem;
        font-weight: 500;
        margin: 0 0 20px;
        color: $blackColor;
        letter-spacing: 0.2px;
        line-height: 30px;
      }
      &__form {
        @for $i from 1 through 10 {
          @if ($i == 1 $i == 2) {
            & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
              @include styleFormGroupSmall();
            }
          }
          @if ($i == 3) {
            & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
              @include styleFormGroupBig();
            }
          }
          @if ($i == 4) {
            & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
              width: 100%;
              padding: 0 15px;
              margin-bottom: 20px;
              & label {
                @extend %styleLabel;
              }
              & .abc {
                cursor: pointer;
                @extend %styleInput;
              }
            }
          }
          @if ($i == 5) {
            & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
              @include styleFormGroupBig(10px);
            }
          }
          @if ($i == 6) {
            & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
              @include styleFormGroupBig();
            }
          }
          @if ($i == 7) {
            & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
              @include styleFormGroupSmall();
            }
          }
          @if ($i == 8) {
            & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
              @include styleFormGroupSmall();
            }
          }
          @if ($i == 9) {
            & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
              @include styleFormGroupSmall();
            }
          }
          @if ($i == 10) {
            & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
              @include styleFormGroupSmall();
            }
          }
        }
      }
      & h4 {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 8px;
      }
      &__oder-notes {
        padding-right: 30px;
        & label {
          @extend %styleLabel;
        }
        & textarea {
          width: 100%;
          outline: none;
          font-size: 1.4rem;
          height: 138px;
          padding: 17px 20px;
          color: $textColor;
          border: 1px solid #e6e6e6;
          background: transparent;
        }
      }
    }
  }
}
