@import "../../../resetCss/variable";
@import "../../../resetCss/mixin";
@import "../../../resetCss/reset";

%styleLabel {
  font-size: 1.2rem;
  margin: 0 0 7px;
  color: $textColor;
  display: block;
}

%styleInput {
  width: 100%;
  outline: none;
  border-radius: 3px;
  height: 45px;
  font-size: 1.4rem;
  padding-right: 10px;
  padding-left: 20px;
  color: $textColor;
  border: 1px solid #e6e6e6;
  background: transparent;
}

%styleTagH3 {
  letter-spacing: 0.2px;
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 20px;
  color: $textColor;
  line-height: 30px;
}

.row {
  width: 100%;
  & .col-checkout {
    &__infor {
      width: 33.33333%;
      padding: 0 15px;
      &__wrapper {
        & h3 {
          font-size: 2rem;
          font-weight: 500;
          margin: 0 0 20px;
          color: $blackColor;
          letter-spacing: 0.2px;
          line-height: 30px;
        }
        &__form {
          @for $i from 1 through 10 {
            @if ($i == 1 $i == 2) {
              & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
                @include styleFormGroupSmall();
              }
            }
            @if ($i == 3) {
              & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
                @include styleFormGroupBig();
              }
            }
            @if ($i == 4) {
              & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
                width: 100%;
                padding: 0 15px;
                margin-bottom: 20px;
                & label {
                  @extend %styleLabel;
                }
                & select {
                  cursor: pointer;
                  @extend %styleInput;
                }
              }
            }
            @if ($i == 5) {
              & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
                @include styleFormGroupBig(10px);
              }
            }
            @if ($i == 6) {
              & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
                @include styleFormGroupBig();
              }
            }
            @if ($i == 7) {
              & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
                @include styleFormGroupSmall();
              }
            }
            @if ($i == 8) {
              & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
                @include styleFormGroupSmall();
              }
            }
            @if ($i == 9) {
              & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
                @include styleFormGroupSmall();
              }
            }
            @if ($i == 10) {
              & .col-checkout__infor__wrapper__form-group:nth-child(#{$i}) {
                @include styleFormGroupSmall();
              }
            }
          }
          &-group {
            &__errors-notify {
              border: 1px solid red !important;
            }
            &__notify {
              &-error {
                & p {
                  margin: 8px 0;
                  color: #f33a58;
                }
              }
            }
          }
        }
        & h4 {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 24px;
          margin-bottom: 8px;
        }
        &__oder-notes {
          padding-right: 30px;
          & label {
            @extend %styleLabel;
          }
          & textarea {
            width: 100%;
            outline: none;
            font-size: 1.4rem;
            height: 138px;
            padding: 17px 20px;
            color: $textColor;
            border: 1px solid #e6e6e6;
            background: transparent;
          }
        }
      }
    }

    &__order {
      width: 33.33333%;
      padding: 0 15px;
      &__wrapper {
        & h3 {
          @extend %styleTagH3;
        }
        &__item-order {
          padding: 38px 45px 44px;
          background: #f6f6f6;
          border-radius: 2px;
          &__content {
            &__header {
              @include flex-box(space-between, center);
              width: 100%;
              & span {
                padding-right: 10px;
                font-size: 1.6em;
                font-weight: 500;
              }
            }
            &__body {
              margin: 29px 0;
              padding: 19px 0 18px;
              border-top: 1px solid #dee0e4;
              border-bottom: 1px solid #dee0e4;
              & ul {
                overflow-y: auto;
                max-height: 120px;
                padding-right: 10px;
                & li {
                  @include flex-box(space-between, center);
                  margin: 0 0 10px;
                  & span {
                    font-size: 1.2rem;
                    color: $textColor;
                  }
                }
              }
            }
            &__footer {
              &__shipping {
                @include flex-box(space-between, center);
                & span {
                  font-size: 1.2rem;
                  font-weight: 400;
                  color: $textColor;
                }
              }
              &__total-order {
                @include flex-box(space-between, center);
                margin: 18px 0 33px;
                padding: 17px 0 19px;
                border-top: 1px solid #dee0e4;
                border-bottom: 1px solid #dee0e4;
                & span {
                  font-size: 1.6rem;
                  font-weight: 500;
                  color: $textColor;
                  &:last-child {
                    color: $primaryColor;
                  }
                }
              }
            }
          }
        }
        &__btn {
          margin-top: 25px;
          & button {
            font-weight: 600;
            cursor: pointer;
            line-height: 1;
            display: block;
            width: 100%;
            padding: 18px 20px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $whiteColor;
            border: none;
            border-radius: 50px;
            background: none;
            background-color: #a749ff;
            transition: all 0.3s ease-in-out;
            &:hover {
              background-color: $textColor;
            }
          }
        }
      }
    }

    &__payment {
      width: 33.33333%;
      padding: 0 15px;
      &__wrapper {
        & h3 {
          @extend %styleTagH3;
        }
        &__content {
          padding: 38px 45px 44px;
          background: #f6f6f6;
          border-radius: 2px;
          &__method {
            & p {
              font-size: 1.4rem;
              color: $textColor;
              padding-bottom: 20px;
            }
            & .menu-payment {
              & li {
                @include flex-box(null, center);
                margin: 0 0 10px;
                & span {
                  color: $textColor;
                  font-size: 1.2rem;
                  margin-left: 8px;
                }
                & input[type="radio"] {
                  cursor: pointer;
                }
                &:last-child {
                  position: relative;
                  & input[type="radio"]:checked ~ .sup-menu-payment {
                    opacity: 1;
                    visibility: visible;
                    animation-duration: 0.75s;
                    animation-duration: calc(var(--animate-duration) * 0.75);
                    animation: bounceInDown 0.5s;
                  }
                  & .sup-menu-payment {
                    @include flex-box(space-between, center);
                    opacity: 0;
                    visibility: hidden;
                    overflow: hidden;
                    @include pos-ab(410%, -17%, -17%);
                    box-shadow: #cccccc 3px 6px 16px -3px;
                    border-radius: 2px;
                    background-color: $whiteColor;
                    padding: 8px 10px;
                    transition: all 0.3s ease-in-out;
                    & li {
                      @include flex-box(null, center);
                      & label {
                        & span {
                          cursor: pointer;
                          display: block;
                          padding: 4px;
                        }

                        & img {
                          width: 100%;
                          height: 46px;
                          object-fit: cover;
                        }
                        & input[type="radio"] {
                          visibility: hidden;
                          opacity: 0;
                          &:checked + span {
                            border: 1px solid #0984e3;
                            transform: scale(1.2);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -8%, 0);
    transform: translate3d(0, -8%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
