* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

button {
  outline: none !important;
}

button:disabled {
  cursor: no-drop !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.header-shop {
  padding-top: 28px;
  width: 100%;
}

.header-shop__container {
  margin: auto;
  width: 86%;
}

.header-shop__container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header-shop__wrap-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header-shop__wrap-menu__svg {
  width: 118px;
}

.header-shop__wrap-menu__svg svg {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.header-shop__wrap-menu__svg path {
  stroke: #313131;
  fill: #313131;
  stroke-dasharray: 1800;
  opacity: 10;
  -webkit-animation: animateLogo 3s cubic-bezier(0, 0.23, 1, 0.1) forwards;
          animation: animateLogo 3s cubic-bezier(0, 0.23, 1, 0.1) forwards;
}

.header-shop__wrap-menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 66.66%;
}

.header-shop__wrap-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.header-shop__wrap-menu__list > li {
  padding: 0 15px;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.header-shop__wrap-menu__list > li:nth-child(2) {
  position: relative;
}

.header-shop__wrap-menu__list > li:nth-child(2)::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  height: 46px;
  width: 100%;
}

.header-shop__wrap-menu__list > li:nth-child(2):hover ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.header-shop__wrap-menu__list > li a {
  color: #333;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-shop__wrap-menu__list > li a:hover {
  color: #a749ff;
}

.header-shop__wrap-menu__list__small-list {
  position: absolute;
  top: 220%;
  left: 0;
  z-index: 8;
  opacity: 0;
  visibility: hidden;
  width: 210px;
  margin-top: 20px;
  padding: 20px 0 22px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-shop__wrap-menu__list__small-list li {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 0 20px;
}

.header-shop__wrap-menu__list__small-list li:hover {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.header-shop__wrap-menu__list__small-list li:hover a {
  color: #a749ff;
}

.header-shop__wrap-menu__list__small-list li a {
  display: block;
  color: #333;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 32px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-shop__wrap-menu .icon-arrow-down {
  margin-left: 8px;
}

.header-shop__wrap-menu__wrap-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.8rem;
  width: 16.66%;
}

.header-shop__wrap-menu__wrap-icon > li {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.header-shop__wrap-menu__wrap-icon > li:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 6%;
}

.header-shop__wrap-menu__wrap-icon > li:nth-child(2) {
  position: relative;
}

.header-shop__wrap-menu__wrap-icon > li:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 300%;
  height: 46px;
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}

.header-shop__wrap-menu__wrap-icon > li:nth-child(2):hover ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.header-shop__wrap-menu__wrap-icon > li:nth-child(2) ul {
  position: absolute;
  top: 182%;
  right: 0;
  width: 125px;
  z-index: 8;
  margin-top: 20px;
  padding: 20px 0 22px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden;
}

.header-shop__wrap-menu__wrap-icon > li:nth-child(2) ul > li {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 0 20px;
}

.header-shop__wrap-menu__wrap-icon > li:nth-child(2) ul > li > a {
  color: #333;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 32px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-shop__wrap-menu__wrap-icon > li:nth-child(2) ul > li:hover {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.header-shop__wrap-menu__wrap-icon > li:nth-child(2) ul > li:hover a {
  color: #a749ff;
}

.header-shop__wrap-menu__wrap-icon > li:nth-child(3) a {
  color: #333;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-shop__wrap-menu__wrap-icon > li:nth-child(3) a:hover {
  color: #a749ff;
}

.header-shop__wrap-menu__wrap-icon > li:nth-child(4) {
  cursor: default;
}

.header-shop__wrap-menu__wrap-icon > li:nth-child(4):hover {
  color: #333;
}

.header-shop__wrap-menu__wrap-icon > li:nth-child(4) button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-shop__wrap-menu__wrap-icon > li:nth-child(4) button:hover {
  color: #a749ff;
}

.header-shop__wrap-menu__wrap-icon > li .qnt-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -30%;
  right: -60%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #000;
}

.header-shop__wrap-menu__wrap-icon > li .qnt-items span {
  font-size: 1.2rem;
  color: #fff;
}

.header-shop__wrap-menu__wrap-icon > li .search-box {
  position: absolute;
  top: -60%;
  z-index: 5;
  border: solid 5px black;
  display: inline-block;
  -webkit-transform: scale(0.26);
          transform: scale(0.26);
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all cubic-bezier(0.5, -0.5, 0.5, 0.5) 900ms;
  transition: all cubic-bezier(0.5, -0.5, 0.5, 0.5) 900ms;
}

.header-shop__wrap-menu__wrap-icon > li .search-box input[type="text"] {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  width: 50px;
  height: 50px;
  padding: 5px 40px 5px 10px;
  border: none;
  border-radius: 50px;
  -webkit-transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
  transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
}

.header-shop__wrap-menu__wrap-icon > li .search-box input[type="text"]:focus {
  outline: none;
  width: 300px;
  -webkit-transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
  transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.header-shop__wrap-menu__wrap-icon > li .search-box input[type="text"]:focus + span {
  bottom: 13px;
  right: 10px;
  -webkit-transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
  transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
}

.header-shop__wrap-menu__wrap-icon > li .search-box input[type="text"]:focus + span:after {
  top: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
  transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
}

.header-shop__wrap-menu__wrap-icon > li .search-box input[type="text"]:focus + span::before {
  border-left: solid 2px #d3d3d3;
}

.header-shop__wrap-menu__wrap-icon > li .search-box input[type="text"]:not(:placeholder-shown) {
  width: 300px;
}

.header-shop__wrap-menu__wrap-icon > li .search-box input[type="text"]:not(:placeholder-shown) + span {
  bottom: 13px;
  right: 10px;
  -webkit-transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
  transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
}

.header-shop__wrap-menu__wrap-icon > li .search-box input[type="text"]:not(:placeholder-shown) + span:after {
  top: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
  transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
}

.header-shop__wrap-menu__wrap-icon > li .search-box input[type="text"]:not(:placeholder-shown) + span::before {
  border-left: solid 2px #d3d3d3;
}

.header-shop__wrap-menu__wrap-icon > li .search-box__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: -13px;
  right: -15px;
  -webkit-transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
  transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
}

.header-shop__wrap-menu__wrap-icon > li .search-box__span::before, .header-shop__wrap-menu__wrap-icon > li .search-box__span::after {
  content: "";
  height: 25px;
  border-left: solid 5px black;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all ease-in-out 0.9s;
  transition: all ease-in-out 0.9s;
}

.header-shop__wrap-menu__wrap-icon > li .search-box__span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  top: -20px;
  right: -10px;
  border-left: solid 2px #d3d3d3;
  -webkit-transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
  transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
}

.header-shop__wrap-menu__wrap-icon > li .show-search {
  border: 1px solid #d3d3d3;
  z-index: 5;
  right: 0;
  top: 255%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header-shop__wrap-menu__wrap-icon > li:hover {
  color: #a749ff;
}

@-webkit-keyframes animateLogo {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800;
  }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1800;
  }
  90% {
    fill: #313131;
  }
  100% {
    opacity: 10;
    fill: #313131;
    stroke-dashoffset: 0;
  }
}

@keyframes animateLogo {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800;
  }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1800;
  }
  90% {
    fill: #313131;
  }
  100% {
    opacity: 10;
    fill: #313131;
    stroke-dashoffset: 0;
  }
}
/*# sourceMappingURL=main.css.map */