@import "../../../resetCss/variable";
@import "../../../resetCss/mixin";
@import "../../../resetCss/reset";

.container {
  margin-top: 86px;
}
.wrapp_content {
  position: relative;
  text-align: center;
  width: 33.33%;
  & .content {
    margin-bottom: 30px;
  };
  & img {
    width: 50px;
    height: 46px;
  }
  & h5 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin: 15px 0;
    color: #494949;
  }
  & p {
    font-size: 1.4rem;
    width: 80%;
    margin: 0 auto;
    color: #6a6a6a;
  }
  &:first-child,
  &:nth-child(2) {
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 68px;
      top: 50%;
      right: -2%;
      transform: translateY(-50%);
      background-color: #d5d4d4;
    }
  }
  &:hover img {
    animation: animateIcon linear 0.5s;
  }
}

@keyframes animateIcon{
  0%{
    transform:scaleX(1);
}
10%,20%{
   
    transform:scale3d(.9,.9,.9) rotate(-3deg)
}
30%,50%,70%,90%{
  
    transform:scale3d(1.1,1.1,1.1) rotate(3deg)
}
40%,60%,80%{
   
    transform:scale3d(1.1,1.1,1.1) rotate(-3deg)
}
to{
    transform:scaleX(1);
}
}