* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

button {
  outline: none !important;
}

button:disabled {
  cursor: no-drop !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container {
  margin-top: 86px;
}

.wrapp_content {
  position: relative;
  text-align: center;
  width: 33.33%;
}

.wrapp_content .content {
  margin-bottom: 30px;
}

.wrapp_content img {
  width: 50px;
  height: 46px;
}

.wrapp_content h5 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 15px 0;
  color: #494949;
}

.wrapp_content p {
  font-size: 1.4rem;
  width: 80%;
  margin: 0 auto;
  color: #6a6a6a;
}

.wrapp_content:first-child::after, .wrapp_content:nth-child(2)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 68px;
  top: 50%;
  right: -2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #d5d4d4;
}

.wrapp_content:hover img {
  -webkit-animation: animateIcon linear 0.5s;
          animation: animateIcon linear 0.5s;
}

@-webkit-keyframes animateIcon {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes animateIcon {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
/*# sourceMappingURL=style.css.map */