@mixin flex-box($justify: null, $align: null) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
  }
  @mixin pos-ab($top:null, $left:null, $right:null, $bottom:null) {
    position: absolute;
    top: $top;
    right: $right;
    left: $left;
    bottom: $bottom;
  }